//title
$title-font-sz: 36px;
$text-font-size: 15px;
// text
$main-text-colour: black;
$second-text-colour: lightslategrey;

// background
$main-background-colour: #cfc0bdbc;

// border
$main-border-colour: lightslategrey;
$hover-border-colour: black;

// font
$main-font: "Cinzel", serif;
$desc-font: "Cardo", serif;
