@use "./mixins.scss";
@import "./palette.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
// NAV
.header {
    font-family: $main-font;
    min-height: 100vh;
    width: 100%;
    background-color: $main-background-colour;
}

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    &__image {
        width: 50px;
        position: relative;
    }
}
.nav__menu {
    flex: 1;
    text-align: right;
    &__list {
        list-style: none;
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        &-ref {
            color: lightslategrey;
            text-decoration: none;
            font-size: $text-font-size;
        }
        &-ref:hover {
            color: $main-text-colour;
            font-size: $text-font-size;
            @include mixins.default-hover;
        }
    }
}
// LANDING
.landing {
    width: 90%;
    color: lightslategray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &__intro {
        font-size: 62px;
    }
    &__desc &__link {
        font-size: $text-font-size;
    }
    &-btn {
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 1px solid $main-border-colour;
        padding: 12px 34px;
        background: transparent;
    }
    &-btn:hover {
        border: 1px solid $hover-border-colour;
        @include mixins.default-hover;
    }
}

// ABOUT
.about {
    width: 80%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: $title-font-sz;
        font-family: $main-font;
    }
    &__desc {
        color: $second-text-colour;
        font-size: $text-font-size;
        line-height: 30px;
        padding: 10px;
        font-family: $desc-font;
    }
}
//TECH STACK
.tech-stacks {
    background-color: $main-background-colour;
    font-family: $main-font;
    &__title {
        font-size: $title-font-sz;
        width: fit-content;
        padding: 20px 0 0 20px;
        margin-bottom: 15px;
    }
    &__list {
        list-style: none;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__wrapper {
        min-width: fit-content;
        margin: 20px;
    }
    &__text {
        color: $main-text-colour;
        font-size: $text-font-size;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text:hover {
        color: $second-text-colour;
        font-size: 20px;
    }
    &__icon {
        font-size: 60px;
    }
    &__icon:hover {
        font-size: 65px;
    }
}

// PROJECTS
.project {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    &-title {
        font-family: $main-font;
        @include mixins.default-alignment;
        font-size: $title-font-sz;
    }
    &-desc {
        font-family: $main-font;
        margin-bottom: 10px;
        @include mixins.default-alignment;
    }
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__card {
        margin: 10px;
        max-width: 300px;
        position: relative;
        border: 2px lightslategray solid;
        border-radius: 10px;
        @include mixins.default-alignment;
        flex-direction: column;
        align-items: center;
        &__text {
            font-family: $desc-font;
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
        &__image {
            margin: 10px;
        }
        &__link {
            text-decoration: none;
            color: lightslategray;
            border: 1px solid lightslategrey;
            padding: 5px;
            font-size: 15px;
            margin: 5px;
        }
        &__link:hover {
            @include mixins.default-hover;
            border: 1px solid;
        }
    }
}

// CONTACT
.footer {
    width: 100%;
    background-color: $main-background-colour;
}
.contact {
    width: 90%;
    display: flex;
    flex-flow: column;
    &__title {
        font-size: $title-font-sz;
        max-width: fit-content;
        padding: 20px 0 0 20px;
    }
    &__list {
        max-width: fit-content;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-self: center;

        &__link {
            padding: 15px;
            display: flex;
            color: $second-text-colour;
            text-decoration: none;
            font-size: 20px;
        }
        &__link:hover {
            color: $main-text-colour;
            font-size: bold;
            font-size: 20px;
            font-style: italic;
        }
    }
}

// Media query
@media only screen and (max-width: 560px) {
    .landing__intro {
        font-size: 20px;
    }
    .nav__menu__list {
        display: block;
    }
    .contact {
        &__title {
            font-size: 20px;
        }
        &__list__link {
            font-size: 14px;
        }
    }
    .project__card__desc {
        font-size: 14px;
    }
}
